@import "tailwindcss";

@layer base {
  :root {
    --bg-color: #f9fafb;
    --surface-color: #ffffff;
    --text-primary: #1f2937;
    --text-secondary: #6b7280;
    --border-color: #e5e7eb;
    --accent-color: #2563eb;
    --accent-hover-color: #1d4ed8;
  }

  .dark {
    --bg-color: #111827;
    --surface-color: #1f2937;
    --text-primary: #f9fafb;
    --text-secondary: #9ca3af;
    --border-color: #374151;
    --accent-color: #3b82f6;
    --accent-hover-color: #60a5fa;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
}
@layer {
  .loader {
    width: 30px;
    aspect-ratio: 1;
    display: grid;
    transform: translateY(100%);
  }

  .loader::before, 
  .loader::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    transform-origin: bottom;
    position: relative;
  }

  .loader::before {
    background: radial-gradient(at 30% 30%, #54a5ff, #001980);
    transform: scaleY(0.65);
    top: 0;
    animation: l11-1 2s cubic-bezier(0, 400, 1, 400) infinite, l11-2 2s ease infinite;
  }

  .loader::after {
    background: #ccc;
    filter: blur(8px);
    transform: scaleY(0.3) translate(0px, 0px);
    left: 0;
    animation: l11-3 2s cubic-bezier(0, 400, 1, 400) infinite;
  }

  @keyframes l11-1 { 100% { top: -0.2px } }
  @keyframes l11-2 { 4%, 96% { transform: scaleY(1) } }
  @keyframes l11-3 { 100% { transform: scaleY(0.3) translate(0.1px, -0.1px) } }
}