@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--bg-color);
  --color-surface: var(--surface-color);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-accent: var(--accent-color);
  --color-border: var(--border-color);
}

@layer base {
  :root {
    --bg-color: #f3f4f6;
    --surface-color: #ffffff;
    --text-primary: #111827;
    --text-secondary: #4b5563;
    --accent-color: #10b981;
    --border-color: #e5e7eb;
  }

  .dark {
    --bg-color: #0a0a0a;
    --surface-color: #1c1c1e;
    --text-primary: #f8fafc;
    --text-secondary: #a1a1aa;
    --accent-color: #facc15;
    --border-color: #27272a;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color:#bbb9b9;
    border-radius: 20px;
    border: 1px solid transparent;
  }

  @layer components {
    
    .btn-gradient {
      background: linear-gradient(to bottom, #30e98f, #08815e);
      color: #ffffff;
      transition: all 0.2s ease;
    }

    .btn-gradient:hover {
      background: linear-gradient(to top, #2ee88e, #087355);
    }

    .dark .btn-gradient {
      background: linear-gradient(to bottom, #e0bb25, #b16b08);
      color: #0a0a0a;
    }
    .dark .btn-gradient:hover {
      background: linear-gradient(to bottom, #eab308, #935610);
    }

    .text-gradient {
      background: linear-gradient(to right, #30e98f, #08815e);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    .dark .text-gradient {
      background: linear-gradient(to right, #e0bb25, #b16b08);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    .loader {
      width: 30px;
      aspect-ratio: 1;
      display: grid;
      transform: translateY(100%);
    }

    .loader::before,
    .loader::after {
      content: "";
      grid-area: 1/1;
      border-radius: 50%;
      transform-origin: bottom;
      position: relative;
    }

    .loader::before {
      background: radial-gradient(at 30% 30%, #35ff9e, #065f46);
      transform: scaleY(0.65);
      top: 0;
      animation:
        l11-1 2s cubic-bezier(0, 400, 1, 400) infinite,
        l11-2 2s ease infinite;
    }

    .loader::after {
      background: rgba(0, 0, 0, 0.15);
      filter: blur(8px);
      transform: scaleY(0.3) translate(0px, 0px);
      left: 0;
      animation: l11-3 2s cubic-bezier(0, 400, 1, 400) infinite;
    }

    .dark .loader::after {
     background: rgba(53, 255, 157, 0.587); 
     filter: blur(8px);
    box-shadow: 0 0 15px 2px rgba(53, 255, 157, 0.514);
    }

    @keyframes l11-1 {
      100% {
        top: -0.2px;
      }
    }
    @keyframes l11-2 {
      4%,
      96% {
        transform: scaleY(1);
      }
    }
    @keyframes l11-3 {
      100% {
        transform: scaleY(0.3) translate(0.1px, -0.1px);
      }
    }
  }
}
